<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>本地父体查询</title>
</head>
<style>
.box_search{
    width:200px;
    height:40px;
    border:1px solid black;
}
.input_po{
    float: left;
    width: 190px;
    height: 38px;
    color:black;
	background-color:white;/*将按钮背景设置为红色，字体设置为白*/
    outline:none;
	border:none;/*取消文本框内外边框*/
}
.button_item{
    width:160px;
    height:40px;
    border:1px solid black;
}
.button{
	float:left;
	width:150px;
	height:40px;
	color:black;
	background-color:white;/*将按钮背景设置为红色，字体设置为白*/
	border:none;
	outline:none;/*取消边框和外边框将按钮边框去掉*/
}
.clear_item{
    width:100px;
    height:40px;
    border:1px solid black;
}
.clear{
	float:left;
	width:90px;
	height:40px;
	color:black;
	background-color:white;/*将按钮背景设置为红色，字体设置为白*/
	border:none;
	outline:none;/*取消边框和外边框将按钮边框去掉*/
}
.method_item1{
    width:110px;
    height:40px;
    border:1px solid black;
    margin:0px 0px 0px 0px;
}
.method1{
    width:100px;
    height:40px;
    outline:none;
    border:none;
    font-size:28;
    background-color:white;
}
.upload{
	float:left;
	width:160px;
	height:40px;
	color:black;
	background-color:white;/*将按钮背景设置为红色，字体设置为白*/
	border:none;
	outline:none;/*取消边框和外边框将按钮边框去掉*/
}
.background_control{
     height: 40px;
     background-color:rgb(220, 220, 220);
     margin:10px 0px 0px 0px;
}
.table_item{
    width:700px;
    height:800px;
    border:1px solid black;
    background-color:white;
    overflow: auto;
}
td,th {
        box-sizing: border-box;/* 设置表格样式 */
        border: 1px solid #DDDDDD;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        background: #F4F4F5;
        height: 50px;
    }
thead tr th{
            position: sticky;
            top: 0;
        }
.list_control1{
    height: 40px;
    width:400px;
    text-align: center;
}
.list_control2{
    height: 40px;
    width:300px;
    text-align: center;
}
.download_item{
width:150px;
height:40px;
font-size: 18px;
}
#box_control1{
margin:0px 0px 0px 50px;
}
#button_control1{
margin:-41px 0px 0px 280px;
}
#input_control1{
margin:-41px 0px 0px 470px;
}
#input_control3{
margin:-41px 0px 0px 800px;
}
#box_control2{
margin:-41px 0px 0px 1050px;
}
#button_control2{
margin:-41px 0px 0px 1280px;
}
#input_control2{
margin:-41px 0px 0px 1470px;
}
#box_control3{
margin:0px 0px 0px 50px;
}
#button_control3{
margin:-41px 0px 0px 280px;
}
#button_control4{
margin:-41px 0px 0px 470px;
}
#input_control4{
margin:-41px 0px 0px 800px;
}
#box_control5{
margin:-41px 0px 0px 1050px;
}
#button_control5{
margin:-41px 0px 0px 1280px;
}
#button_control6{
margin:-41px 0px 0px 1470px;
}
#method_control1{
margin:0px 0px 0px 50px;
}
#box_control6{
margin:-41px 0px 0px 180px;
}
#button_control7{
margin:-41px 0px 0px 400px;
}
#button_control10{
margin:-41px 0px 0px 800px;
}
#method_control2{
margin:-41px 0px 0px 1050px;
}
#box_control7{
margin:-41px 0px 0px 1180px;
}
#button_control8{
margin:-41px 0px 0px 1400px;
}
#button_control9{
margin:-41px 0px 0px 1600px;
}
#download_control2{
margin:0px 0px 0px 50px;
}
#button_control13{
margin:-41px 0px 0px 200px;
}
#button_control11{
margin:-41px 0px 0px 800px;
}
#button_control12{
margin:-41px 0px 0px 1200px;
}
#download_control{
margin:-41px 0px 0px 1400px;
}
#table_item1{
margin:0px 0px 0px 50px;
}
#table_item2{
margin:-801px 0px 0px 1000px;
}
</style>
<body>
<div class="item">
    <div class="function_item">
        <div class="item_list">
            <div class="box_search" id="box_control1">
                <input type="text" placeholder="  本地父体" class="input_po" autocomplete="off" id="male_input">
            </div>
            <div class="button_item" id="button_control1">
                <button class="button" onclick="add_male()">添加本地父体</button>
            </div>
            <div class="button_item" id="input_control1">
                <input type="file" name="file" id="files1" style="display:none" onchange="upload_male();">
                <input type="button" value="批量添加本地父体" id="import1" class="upload">
            </div>
            <div class="button_item" id="input_control3">
                <input type="file" name="file" id="files3" style="display:none" onchange="upload_parent();">
                <input type="button" value="批量关联本地父体" id="import3" class="upload">
            </div>
            <div class="box_search" id="box_control2">
                <input type="text" placeholder="  本地品名" class="input_po" autocomplete="off" id="sku_input">
            </div>
            <div class="button_item" id="button_control2">
                <button class="button" onclick="add_sku()">添加本地品名</button>
            </div>
            <div class="button_item" id="input_control2">
                <input type="file" name="file" id="files2" style="display:none" onchange="upload_sku();">
                <input type="button" value="批量添加本地品名" id="import2" class="upload">
            </div>
        </div>
        <div class="item_list">
            <div class="box_search" id="box_control3">
                <input type="text" placeholder="  SKU" class="input_po" autocomplete="off" name="male_parent" id="parent_sku">
            </div>
            <div class="button_item" id="button_control3">
                <button class="button" onclick="relevance_male()">关联本地父体</button>
            </div>
            <div class="button_item" id="button_control4">
                <button class="button" onclick="relieve_male()">解除本地父体关联</button>
            </div>
            <div class="button_item" id="input_control4">
                <input type="file" name="file" id="files4" style="display:none" onchange="upload_name();">
                <input type="button" value="批量关联本地品名" id="import4" class="upload">
            </div>
            <div class="box_search" id="box_control5">
                <input type="text" placeholder="  SKU" class="input_po" autocomplete="off" name="po_name" id="local_sku">
            </div>
            <div class="button_item" id="button_control5">
                <button class="button" onclick="relevance_sku()">关联本地品名</button>
            </div>
            <div class="button_item" id="button_control6">
                <button class="button" onclick="relieve_sku()">解除本地品名关联</button>
            </div>
        </div>
        <div class="item_list">
            <div class="method_item1" id="method_control1">
                <select class="method1" id="list_class1">
                    <option value="本地父体">本地父体</option>
                    <option value="sku">sku</option>
                </select>
            </div>
            <div class="box_search" id="box_control6">
                <input type="text" class="input_po" autocomplete="off" id="get_msg1">
            </div>
            <div class="button_item" id="button_control7">
                <button class="button" onclick="get_male()" id="button1">获取本地父体详情</button>
            </div>
            <div class="button_item" id="button_control10">
                <input type="file" name="file" id="files5" style="display:none" onchange="upload_relieve_male();">
                <input type="button" value="批量解除本地父体关联" id="import5" class="upload">
            </div>
            <div class="method_item1" id="method_control2">
                <select class="method1" id="list_class2">
                    <option value="本地品名">本地品名</option>
                    <option value="sku">sku</option>
                </select>
            </div>
            <div class="box_search" id="box_control7">
                <input type="text" class="input_po" autocomplete="off" id="get_msg2">
            </div>
            <div class="button_item" id="button_control8">
                <button class="button" onclick="get_sku()" id="button2">获取本地品名详情</button>
            </div>
            <div class="clear_item" id="button_control9">
                <button class="clear" onclick="clear_html()">清空</button>
            </div>
            <div class="download_item" id="download_control2">
                <a href="template_download.html">下载模板</a>
            </div>
            <div class="button_item" id="button_control13">
                <button class="button" onclick="derive_table(event)" data-name="table1">导出表格</button>
            </div>
            <div class="button_item" id="button_control11">
                <input type="file" name="file" id="files6" style="display:none" onchange="upload_relieve_sku();">
                <input type="button" value="批量解除本地品名关联" id="import6" class="upload">
            </div>
            <div class="button_item" id="button_control12">
                <button class="button" onclick="derive_table(event)" data-name="table1">导出表格</button>
            </div>
            <div class="download_item" id="download_control">
            </div>
        </div>
    </div>
    <div class="table_list">
        <div class="background_control" id="background_control"></div>
        <div class="table_item" id="table_item1">
            <table class="table_control" id="table_control1">
                <thead class="header_item" id="control_item1">
                </thead>
            </table>
        </div>
        <div class="table_item" id="table_item2">
            <table class="table_control" id="table_control2">
                <thead class="header_item" id="control_item2">
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
<script src="../JavaScript/jquery-3.0.0.min.js"></script>
<script src="../JavaScript/axios.min.js"></script>
<script>

    $("#import1").click(function(){//点击导入按钮，使files触发点击事件，然后完成读取文件的操作。
        $("#files1").click();
    });

    $("#import2").click(function(){//点击导入按钮，使files触发点击事件，然后完成读取文件的操作。
        $("#files2").click();
    });

    $("#import3").click(function(){//点击导入按钮，使files触发点击事件，然后完成读取文件的操作。
        $("#files3").click();
    });

    $("#import4").click(function(){//点击导入按钮，使files触发点击事件，然后完成读取文件的操作。
        $("#files4").click();
    });

    $("#import5").click(function(){//点击导入按钮，使files触发点击事件，然后完成读取文件的操作。
        $("#files5").click();
    });

    $("#import6").click(function(){//点击导入按钮，使files触发点击事件，然后完成读取文件的操作。
        $("#files6").click();
    });


    function add_male(){
    var male_parent = document.getElementById("male_input").value;
    if (confirm("是否新增本地父体"+ male_parent +"")){
    var data = {"data": JSON.stringify({"male_parent": male_parent})};
    $.ajax({
    url: "/male_parent/add_male",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    document.getElementById("male_input").value = "";
    alert('添加成功');
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }
    }

    function upload_male(){
    var filename = document.getElementById("files1").files[0]['name'];
    console.log(filename)
    if (confirm("是否上传"+ filename +"")){
    document.getElementById("import1").disabled = "ture";
    var button = document.getElementById('import1');
    button.style.backgroundColor = 'rgb(220, 220, 220)';
    var formData = new FormData();
    formData.append("myfile", document.getElementById("files1").files[0]);
    $.ajax({
    headers:{Accept: "application/json; charset=utf-8"},
    type: 'POST',
    url: '/male_parent/upload_male',
    dataType: 'json',
    data: formData,
    cache: false,
    processData: false,
    contentType: false,
    success: function(msg){
    if (msg['msg'] == 'success'){
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import1").disabled = false;
    alert('添加成功');
    }
    if (msg['msg'] == 'error'){
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import1").disabled = false;
    alert('添加失败');
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import1").disabled = false;
    alert('请求超时，请重试！');
    }
    }
    })
    }
    }

    function add_sku(){
    var sku = document.getElementById("sku_input").value;
    if (confirm("是否新增本地品名"+ sku +"")){
    var data = {"data": JSON.stringify({"sku": sku})};
    $.ajax({
    url: "/male_parent/add_sku",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    document.getElementById("sku_input").value = "";
    alert('添加成功');
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }
    }

    function upload_sku(){
    var filename = document.getElementById("files2").files[0]['name'];
    console.log(filename)
    if (confirm("是否上传"+ filename +"")){
    document.getElementById("import2").disabled = "ture";
    var button = document.getElementById('import2');
    button.style.backgroundColor = 'rgb(220, 220, 220)';
    var formData = new FormData();
    formData.append("myfile", document.getElementById("files2").files[0]);
    $.ajax({
    headers:{Accept: "application/json; charset=utf-8"},
    type: 'POST',
    url: '/male_parent/upload_sku',
    dataType: 'json',
    data: formData,
    cache: false,
    processData: false,
    contentType: false,
    success: function(msg){
    if (msg['msg'] == 'success'){
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import2").disabled = false;
    alert('添加成功');
    }
    if (msg['msg'] == 'error'){
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import2").disabled = false;
    alert('添加失败');
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import2").disabled = false;
    alert('请求超时，请重试！');
    }
    }
    })
    }
    }

    function upload_parent(){
    var filename = document.getElementById("files3").files[0]['name'];
    console.log(filename)
    if (confirm("是否上传"+ filename +"")){
    document.getElementById("import3").disabled = "ture";
    var button = document.getElementById('import3');
    button.style.backgroundColor = 'rgb(220, 220, 220)';
    var formData = new FormData();
    formData.append("myfile", document.getElementById("files3").files[0]);
    $.ajax({
    headers:{Accept: "application/json; charset=utf-8"},
    type: 'POST',
    url: '/male_parent/upload_parent',
    dataType: 'json',
    data: formData,
    cache: false,
    processData: false,
    contentType: false,
    success: function(msg){
    if (msg['msg'] == 'success'){
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import3").disabled = false;
    download_excl(msg['data']['filename'], msg['data']['file'], "本地父体关联详情");
    alert('关联成功');
    }
    if (msg['msg'] == 'error'){
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import3").disabled = false;
    alert(msg['data']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import3").disabled = false;
    alert('请求超时，请重试！');
    }
    }
    })
    }
    }

    function upload_name(){
    var filename = document.getElementById("files4").files[0]['name'];
    console.log(filename)
    if (confirm("是否上传"+ filename +"")){
    document.getElementById("import4").disabled = "ture";
    var button = document.getElementById('import4');
    button.style.backgroundColor = 'rgb(220, 220, 220)';
    var formData = new FormData();
    formData.append("myfile", document.getElementById("files4").files[0]);
    $.ajax({
    headers:{Accept: "application/json; charset=utf-8"},
    type: 'POST',
    url: '/male_parent/upload_name',
    dataType: 'json',
    data: formData,
    cache: false,
    processData: false,
    contentType: false,
    success: function(msg){
    if (msg['msg'] == 'success'){
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import4").disabled = false;
    download_excl(msg['data']['filename'], msg['data']['file'], "本地品名关联详情");
    alert('关联成功');
    }
    if (msg['msg'] == 'error'){
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import4").disabled = false;
    alert(msg['data']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import4").disabled = false;
    alert('请求超时，请重试！');
    }
    }
    })
    }
    }

    function download_excl(filename, file, download_name){
    document.getElementById("download_control").innerHTML = "";
    var pa_name = filename + ".xlsx";
    var str = "<a href="+ file +" download="+ pa_name +">"+ download_name +"</a>";
    document.getElementById("download_control").innerHTML = str;
    }

    function relevance_male(){
    var male_parent = document.getElementById("male_input").value;
    var sku = document.getElementById("parent_sku").value;
    if (confirm("是否关联"+ male_parent +"与"+ sku)){
    var data = {"data": JSON.stringify({"male_parent": male_parent, "sku": sku})};
    $.ajax({
    url: "/male_parent/relevance_male",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    document.getElementById("male_input").value = "";
    document.getElementById("parent_sku").value = "";
    alert('关联成功');
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }
    }

    function relieve_male(){
    var male_parent = document.getElementById("male_input").value;
    var sku = document.getElementById("parent_sku").value;
    if (confirm("是否解除"+ male_parent +"与"+ sku +"的关联")){
    var data = {"data": JSON.stringify({"male_parent": male_parent, "sku": sku})};
    $.ajax({
    url: "/male_parent/relieve_male",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    document.getElementById("male_input").value = "";
    document.getElementById("parent_sku").value = "";
    alert('解除成功');
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }
    }

    function relevance_sku(){
    var local_sku = document.getElementById("sku_input").value;
    var sku = document.getElementById("local_sku").value;
    if (confirm("是否关联"+ local_sku +"与"+ sku)){
    var data = {"data": JSON.stringify({"local_sku": local_sku, "sku": sku})};
    $.ajax({
    url: "/male_parent/relevance_sku",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    document.getElementById("sku_input").value = "";
    document.getElementById("local_sku").value = "";
    alert('关联成功');
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }
    }

    function upload_relieve_male(){
    var filename = document.getElementById("files5").files[0]['name'];
    console.log(filename)
    if (confirm("是否上传"+ filename +"")){
    document.getElementById("import5").disabled = "ture";
    var button = document.getElementById('import5');
    button.style.backgroundColor = 'rgb(220, 220, 220)';
    var formData = new FormData();
    formData.append("myfile", document.getElementById("files5").files[0]);
    $.ajax({
    headers:{Accept: "application/json; charset=utf-8"},
    type: 'POST',
    url: '/male_parent/upload_relieve_male',
    dataType: 'json',
    data: formData,
    cache: false,
    processData: false,
    contentType: false,
    success: function(msg){
    if (msg['msg'] == 'success'){
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import5").disabled = false;
    download_excl(msg['data']['filename'], msg['data']['file'], "解除本地父体详情");
    alert('解除成功');
    }
    if (msg['msg'] == 'error'){
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import5").disabled = false;
    alert(msg['data']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import5").disabled = false;
    alert('请求超时，请重试！');
    }
    }
    })
    }
    }

    function relieve_sku(){
    var local_sku = document.getElementById("sku_input").value;
    var sku = document.getElementById("local_sku").value;
    if (confirm("是否解除"+ local_sku +"与"+ sku +"的关联")){
    var data = {"data": JSON.stringify({"local_sku": local_sku, "sku": sku})};
    $.ajax({
    url: "/male_parent/relieve_sku",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    document.getElementById("local_sku").value = "";
    document.getElementById("sku_input").value = "";
    alert('解除成功');
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }
    }

    function upload_relieve_sku(){
    var filename = document.getElementById("files6").files[0]['name'];
    console.log(filename)
    if (confirm("是否上传"+ filename +"")){
    document.getElementById("import6").disabled = "ture";
    var button = document.getElementById('import6');
    button.style.backgroundColor = 'rgb(220, 220, 220)';
    var formData = new FormData();
    formData.append("myfile", document.getElementById("files6").files[0]);
    $.ajax({
    headers:{Accept: "application/json; charset=utf-8"},
    type: 'POST',
    url: '/male_parent/upload_relieve_sku',
    dataType: 'json',
    data: formData,
    cache: false,
    processData: false,
    contentType: false,
    success: function(msg){
    if (msg['msg'] == 'success'){
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import6").disabled = false;
    download_excl(msg['data']['filename'], msg['data']['file'], "解除本地品名详情");
    alert('解除成功');
    }
    if (msg['msg'] == 'error'){
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import6").disabled = false;
    alert(msg['data']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("import6").disabled = false;
    alert('请求超时，请重试！');
    }
    }
    })
    }
    }

    function get_male(){
    var index = document.getElementById("list_class1").value;
    var index_data = document.getElementById("get_msg1").value;
    document.getElementById("button1").disabled = "ture";
    var data = {"data": JSON.stringify({"index": index, "index_data": index_data})};
    $.ajax({
    url: "/male_parent/get_male",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "POST",
    data: data,
    dataType: 'json',
    success: function(msg){
    console.log(msg)
    if (msg['msg'] == 'success'){
    document.getElementById("button1").disabled = false;
    document.getElementById("control_item1").innerHTML = '';
    if (msg['index'] == 0){
    create_table3(msg['data'])
    }
    if (msg['index'] == 1){
    create_table2(msg['data'], "本地父体")
    }
    }
    if (msg['msg'] == 'error'){
    document.getElementById("button1").disabled = false;
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
        if (textStatus === 'timeout') {
            alert('请求超时，请重试！');
            document.getElementById("button1").disabled = false;
        }
        }
    })
    }

    function get_sku(){
    var index = document.getElementById("list_class2").value;
    var index_data = document.getElementById("get_msg2").value;
    document.getElementById("button2").disabled = "ture";
    var data = {"data": JSON.stringify({"index": index, "index_data": index_data})};
    $.ajax({
    url: "/male_parent/get_sku",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "POST",
    data: data,
    dataType: 'json',
    success: function(msg){
    console.log(msg)
    if (msg['msg'] == 'success'){
    document.getElementById("button2").disabled = false;
    document.getElementById("control_item2").innerHTML = '';
    if (msg['index'] == 0){
    create_table(msg['data'], "本地品名", "sku")
    }
    if (msg['index'] == 1){
    create_table2(msg['data'], "本地品名")
    }
    }
    if (msg['msg'] == 'error'){
    document.getElementById("button2").disabled = false;
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
        if (textStatus === 'timeout') {
            alert('请求超时，请重试！');
            document.getElementById("button2").disabled = false;
        }
        }
    })
    }

    function clear_html(){
    if (confirm("是否当前页面信息")){
    document.getElementById("male_input").value = "";
    document.getElementById("local_sku").value = "";
    document.getElementById("sku_input").value = "";
    document.getElementById("parent_sku").value = "";
    document.getElementById("get_msg1").value = "";
    document.getElementById("get_msg2").value = "";
    document.getElementById("button1").disabled = false;
    document.getElementById("button2").disabled = false;
    document.getElementById("import1").disabled = false;
    document.getElementById("import2").disabled = false;
    document.getElementById("import3").disabled = false;
    document.getElementById("import4").disabled = false;
    document.getElementById("control_item1").innerHTML = '';
    document.getElementById("control_item2").innerHTML = '';
    }
    }

    function create_table(list_data, heard_name1, heard_name2){
    var heard_tr = document.createElement("tr");
    heard_tr.className = "list_control_tr";
    var heard_name1_str = create_control(['list_control1', heard_name1]);
    var heard_name2_str = create_control(['list_control2', heard_name2]);
    var heard_str = heard_name1_str + heard_name2_str;
    heard_tr.innerHTML = heard_str;
    if (heard_name1 == "本地父体"){
    document.getElementById("control_item1").appendChild(heard_tr);
    }
    if (heard_name1 == "本地品名"){
    document.getElementById("control_item2").appendChild(heard_tr);
    }
    for (var i = 0; i < list_data.length; i++){
    var tr = document.createElement("tr");
    tr.className = "list_control_tr";
    var sku = list_data[i][1];
    var name = list_data[i][0];
    var sku_str = create_control(['list_control2', sku]);
    var name_str = create_control(['list_control1', name]);
    var str = name_str + sku_str;
    tr.innerHTML = str;
    if (heard_name1 == "本地父体"){
    document.getElementById("control_item1").appendChild(tr);
    }
    if (heard_name1 == "本地品名"){
    document.getElementById("control_item2").appendChild(tr);
    }
    }
    }

    function create_table2(list_data, heard_name1){
    var heard_tr = document.createElement("tr");
    heard_tr.className = "list_control_tr";
    var heard_name1_str = create_control(['list_control1', heard_name1]);
    heard_tr.innerHTML = heard_name1_str;
    if (heard_name1 == "本地父体"){
    document.getElementById("control_item1").appendChild(heard_tr);
    }
    if (heard_name1 == "本地品名"){
    document.getElementById("control_item2").appendChild(heard_tr);
    }
    for (var i = 0; i < list_data.length; i++){
    var tr = document.createElement("tr");
    tr.className = "list_control_tr";
    var name = list_data[i][0];
    var name_str = create_control(['list_control1', name]);
    var str = name_str;
    tr.innerHTML = str;
    if (heard_name1 == "本地父体"){
    document.getElementById("control_item1").appendChild(tr);
    }
    if (heard_name1 == "本地品名"){
    document.getElementById("control_item2").appendChild(tr);
    }
    }
    }

    function create_table3(list_data){
    var heard_tr = document.createElement("tr");
    heard_tr.className = "list_control_tr";
    var heard_name1_str = create_control(['list_control1', '本地父体']);
    var heard_name2_str = create_control(['list_control2', 'SKU']);
    var heard_name3_str = create_control(['list_control3', '本地品名']);
    var heard_str = heard_name1_str + heard_name2_str + heard_name3_str;
    heard_tr.innerHTML = heard_str;
    document.getElementById("control_item1").appendChild(heard_tr);
    for (var i = 0; i < list_data.length; i++){
    var tr = document.createElement("tr");
    tr.className = "list_control_tr";
    var sku = list_data[i][1];
    var name = list_data[i][0];
    var local_name = list_data[i][2];
    var sku_str = create_control(['list_control2', sku]);
    var name_str = create_control(['list_control1', name]);
    var local_name_str = create_control(['list_control1', local_name]);
    var str = name_str + sku_str + local_name_str;
    tr.innerHTML = str;
    document.getElementById("control_item1").appendChild(tr);
    }
    }

    function derive_table(event){
    var list_msg = get_table();
    var table_name = event.target.dataset.name
    console.log(table_name)
    var data = {"data": JSON.stringify({"list_msg": list_msg, "table_name": table_name})};
    $.ajax({
    url: "/male_parent/derive_table",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "POST",
    data: data,
    dataType: 'json',
    success: function(msg){
    console.log(msg)
    if (msg['msg'] == 'success'){
    download_excl(msg['data']['filename'], msg['data']['file'], msg['data']['download_name']);
    alert('导出成功');
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
        if (textStatus === 'timeout') {
            alert('请求超时，请重试！');
            document.getElementById("button2").disabled = false;
        }
        }
    })
    }

    function get_table(){
    var tabObj1 = document.getElementById('table_control1');
    var tab = document.getElementById("control_item1");
    var data1 = [];
    for(var i=0,rows=tabObj1.rows.length; i<rows; i++){
    for(var j=0,cells=tabObj1.rows[i].cells.length; j<cells; j++){
    if(!data1[i]){
    data1[i] = new Array();
    }
    data1[i][j] = tabObj1.rows[i].cells[j].getElementsByTagName('span')[0].innerHTML;
    }
    }
    var tabObj2 = document.getElementById('table_control2');
    var tab2 = document.getElementById("control_item2");
    var data2 = [];
    for(var i=0,rows=tabObj2.rows.length; i<rows; i++){
    for(var j=0,cells=tabObj2.rows[i].cells.length; j<cells; j++){
    if(!data2[i]){
    data2[i] = new Array();
    }
    data2[i][j] = tabObj2.rows[i].cells[j].getElementsByTagName('span')[0].innerHTML;
    }
    }
    return [data1, data2];
    }

    function create_control(msg_data){
    var msg = msg_data;
    var str = '';
    str = "<th class="+ msg[0] +"><div class=\"header_text\"><span>"+ msg[1] +"</span></div></th>";
    return str
    }

</script>
</html>