<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>父体对比</title>
</head>
<style>
.widget{display:inline-block;background:#ff9900;}
.box{width:50px;height:50px;background:#00b7ee;margin:5px;float:left;}
.rk_menubox{width:100px;border:1px solid #ddd;position:absolute;z-index:999;background:#fff;}
.rk_menuitem{line-height:20px;cursor:pointer;padding:0px 5px;}
.rk_menuitem:hover{background:#f4f4f4;}
.button_item1{
    width:140px;
    height:40px;
    border:1px solid black;
}
.button1{
	float:left;
	width:140px;
	height:40px;
	color:black;
	background-color:white;/*将按钮背景设置为红色，字体设置为白*/
	border:none;
	outline:none;/*取消边框和外边框将按钮边框去掉*/
}
.button_item2{
    width:120px;
    height:40px;
    border:1px solid black;
}
.button_item3{
    width:200px;
    height:40px;
    border:1px solid black;
    margin:auto;
}
.button2{
	float:left;
	width:120px;
	height:40px;
	color:black;
	background-color:white;/*将按钮背景设置为红色，字体设置为白*/
	border:none;
	outline:none;/*取消边框和外边框将按钮边框去掉*/
}
.button3{
	float:left;
	width:60px;
	height:40px;
	color:black;
	background-color:white;/*将按钮背景设置为红色，字体设置为白*/
	border:none;
	outline:none;/*取消边框和外边框将按钮边框去掉*/
}
.box_search{
    width:160px;
    height:40px;
    border:1px solid black;
}
.input_po{
    float: left;
    width: 120px;
    height: 38px;
    color:black;
	background-color:white;/*将按钮背景设置为红色，字体设置为白*/
    outline:none;
	border:none;/*取消文本框内外边框*/
	font-size: 14px;
}
.method_item{
    width:110px;
    height:40px;
    border:1px solid black;
    margin:0px 0px 0px 0px;
}
.method{
    width:100px;
    height:40px;
    outline:none;
    border:none;
    font-size:28;
    background-color:white;
}
.download_item2{
width:150px;
height:40px;
font-size: 18px;
}
.background_control{
     height: 40px;
     background-color:rgb(220, 220, 220);
     margin:10px 0px 0px 0px;
}
.table_list{
    width:2400px;
    height:780px;
}
.table_item1{
    width:200px;
    height:100%;
    border:1px solid black;
    background-color:white;
    overflow: auto;
}
.table_item2{
    width:2200px;
    height:100%;
    border:1px solid black;
    background-color:white;
    overflow: auto;
}
tr,td {
        box-sizing: border-box;/* 设置表格样式 */
        border: 1px solid #DDDDDD;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        background: #F4F4F5;
        height: 40px;
    }
thead tr td{
            position: sticky;
            top: 0;
        }
.list_control_header{
      position: sticky;
      top: 0; /* 固定第一行，前7列 */
      z-index:1;
    }
.list_control1{
    text-align: center;
    position: sticky;
    height: 40px;
    width: 90px;
}
.list_control2{
    text-align: center;
    position: sticky;
    height: 40px;
    width: 100px;
}
.list_control3{
    overflow: hidden;
    text-overflow:ellipsis;
    text-align: center;
    position: sticky;
    height: 40px;
    width: 250px;
}
.list_control4{
    text-align: center;
    position: sticky;
    height: 40px;
    width: 40px;
}
.list_control5{
    text-align: center;
    position: sticky;
    height: 40px;
    width: 190px;
}
.list_control_collect{
    overflow: hidden;
    text-overflow:ellipsis;
    text-align: center;
    position: sticky;
    height: 40px;
    width: 250px;
}
.table-sort {
    display: inline-block;
    width: 10px;
    height: 20px;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer !important;
    vertical-align: middle;
    position: relative
}

.table-sort i {
    border: 6px dashed transparent;
    position: absolute;
    left: 5px
}

.table-sort .sort-asc {
    top: 2px;
    border-top: none;
    border-bottom-style: solid;
    border-bottom-color: #b2b2b2
}

.table-sort .sort-asc.cur, .table-sort .sort-asc:hover {
    border-bottom-color: #fff
}

.table-sort .sort-desc {
    bottom: 3px;
    border-bottom: none;
    border-top-style: solid;
    border-top-color: #b2b2b2
}

.table-sort .sort-desc.cur, .table-sort .sort-desc:hover {
    border-top-color: #fff
}
.windows {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index:2;
}
.checkbox {
	background-color:rgb(220, 220, 220);
	width: 800px;
	height: 580px;
	z-index: 1;
	margin: 12% auto;
	overflow: auto;
}
.content {
	background-color:rgb(220, 220, 220);
	width: 1130px;
	height: 480px;
	z-index: 1;
	margin: 12% auto;
	overflow: auto;
}

#table_item5 {
	margin: auto;
	width: 1050px;
	height: 390px;
	padding: 0 20px;
	border:1px solid black;
    background-color:white;
    overflow: auto;
}

.close {
	padding: 5px;
}
h2 {
	margin: 10px 0;
	color: black;
	padding-left: 15px;
}
.close_button {
	float: right;
	font-size: 30px;
	color: black;
	padding-top: 12px;
	cursor: pointer;
	padding-right: 15px;
}

#foot {
	padding: 5px 0;
	text-align: center;
	background: #5cd31b;
	color: white;
}
.column_sort {
    list-style: none;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -15px 0;
    touch-action: none;
    user-select: none;
}
.ele {
    font-size: 16px;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
    margin: 0 15px 15px 0;
    //padding-left: 10px;
    color: black;
    text-align: center;
}

#button_control1{
margin:0px 0px 0px 50px;
}
#button_control9{
margin:-41px 0px 0px 220px;
}
#button_control10{
margin:-41px 0px 0px 600px;
}
#button_control11{
margin:-41px 0px 0px 770px;
}
#button_control3{
margin:-41px 0px 0px 950px;
}
#box_control4{
margin:-41px 0px 0px 1260px;
}
#box_control3{
margin:-41px 0px 0px 1430px;
}
#button_control7{
margin:-41px 0px 0px 1600px;
}
#button_control12{
margin:-41px 0px 0px 1750px;
}
#box_control1{
margin:0px 0px 0px 50px;
}
#button_control4{
margin:-41px 0px 0px 220px;
}
#method_control1{
margin:-41px 0px 0px 350px;
}
#box_control2{
margin:-41px 0px 0px 600px;
}
#button_control5{
margin:-41px 0px 0px 770px;
}
#button_control6{
margin:-41px 0px 0px 950px;
}
#button_control8{
margin:-41px 0px 0px 1300px;
}
#table_item1{
margin:0px 0px 0px 50px;
}
#table_item2{
margin:-781px 0px 0px 270px;
}
#table_item3{
margin:-781px 0px 0px 490px;
}
#button_control13{
margin:200px 0px 0px 640px;
}
#div2{
margin:100px 0px 0px 550px;
}
</style>
<body>
<div class="item">
    <div class="function_item">
        <div class="item_list">
            <div class="button_item1" id="button_control1">
                <button class="button1" onclick="get_list_male()" id="button1">获取本地父体</button>
            </div>
            <div class="button_item1" id="button_control9">
                <button class="button1" onclick="derive_table(event)" data-name="parent_table">导出本地父体表格</button>
            </div>
            <div class="button_item1" id="button_control10">
                <button class="button1" onclick="derive_table(event)" data-name="amazon_table">导出亚马逊父体表格</button>
            </div>
            <div class="button_item2" id="button_control11">
                <button class="button2" onclick="update_male()" id="button5">更新本地数据</button>
            </div>
            <div class="button_item2" id="button_control3">
                <button class="button2" onclick="contrast_parent()" id="button4">对比</button>
            </div>
            <div class="box_search" id="box_control4">
                <input type="date" name="start_time" class="input_po" id="data_time" value="" />
            </div>
            <div class="box_search" id="box_control3">
                <input type="text" placeholder="  父ASIN" class="input_po" autocomplete="off" id="parent_asin">
            </div>
            <div class="button_item2" id="button_control7">
                <button class="button2" onclick="download_parent()" id="input3">下载父ASIN</button>
            </div>
            <div class="button_item2" id="button_control12">
                <button class="button2" onclick="check_box()" id="button6">配置列</button>
            </div>
        </div>
        <div class="item_list">
            <div class="box_search" id="box_control1">
                <input type="text" placeholder="  本地父体" class="input_po" autocomplete="off" id="male_input" onkeydown="myFunction()">
            </div>
            <div class="button_item2" id="button_control4">
                <button class="button2" onclick="find_list_male()" id="input1">查询本地父体</button>
            </div>
            <div class="method_item" id="method_control1">
                <select class="method" id="list_country">
                    <option value=""></option>
                    <option value="iDLEHANDS-US">iDLEHANDS-US</option>
                    <option value="iDLEHANDS-CA">iDLEHANDS-CA</option>
                    <option value="iDLEHANDS-MX">iDLEHANDS-MX</option>
                    <option value="CoBak-CA">CoBak-CA</option>
                    <option value="CoBak-M">CoBak-MX</option>
                    <option value="CoBak-US">CoBak-US</option>
                    <option value="CoBak-BR">CoBak-BR</option>
                    <option value="CoBak-JP">CoBak-JP</option>
                    <option value="SMIFACE-US">SMIFACE-US</option>
                    <option value="SMIFACE-CA">SMIFACE-CA</option>
                    <option value="CoBak Direct-BE">CoBak Direct-BE</option>
                    <option value="CoBak-SE">CoBak-SE</option>
                    <option value="CoBak-NL">CoBak-NL</option>
                    <option value="CoBak-DE">CoBak-DE</option>
                    <option value="CoBak-ES">CoBak-ES</option>
                    <option value="CoBak-IT">CoBak-IT</option>
                    <option value="CoBak-FR">CoBak-FR</option>
                    <option value="CoBak-UK">CoBak-UK</option>
                    <option value="CoBak-SG">CoBak-SG</option>
                </select>
            </div>
            <div class="box_search" id="box_control2">
                <input type="text" placeholder="  亚马逊父体" class="input_po" autocomplete="off" id="asin_input">
            </div>
            <div class="button_item2" id="button_control5">
                <button class="button2" onclick="find_list_asin()" id="input2">查询亚马逊父体</button>
            </div>
            <div class="button_item3" id="button_control6">
                <input type="text" placeholder="本地品名" class="input_po" autocomplete="off" id="local_sku">
                <input type="submit" value="搜索" class="button3" onclick="get_msg()" id="button_item">
            </div>
            <div class="download_item2" id="button_control8">

            </div>
        </div>
    </div>
    <div class="table_list" id="table_list">
        <div class="background_control" id="background_control"></div>
        <div class="table_item1" id="table_item1">
            <table class="table_control" id="table_control1">
                <thead class="header_item" id="control_item1">
                </thead>
            </table>
        </div>
        <div class="table_item1" id="table_item2">
            <table class="table_control" id="table_control2">
                <thead class="header_item" id="control_item2">
                </thead>
            </table>
        </div>
        <div class="table_item2" id="table_item3">
            <table class="table_control" id="table_control3">
                <thead class="header_item" id="control_item3" data-amazon_asin="" data-parent_asin="" data-list_header="">
                </thead>
            </table>
        </div>
    </div>
    <div id="windows1" class="windows">
        <div id="div1" class="content">
            <div id="close" class="close">
                <span id="close-button" onclick="close_windows()" class="close_button">×</span>
                <h2 id="sku_msg"></h2>
            </div>
            <div class="table_item2" id="table_item5">
                <table class="table_control" id="table_control5">
                    <thead class="header_item" id="control_item5">
                    </thead>
                </table>
            </div>
        </div>
	</div>
    <div id="windows2" class="windows">
        <div id="div2" class="checkbox">
            <div id="close2" class="close">
                <span id="close-button2" onclick="close_windows()" class="close_button">×</span>
                <h2>列配置</h2>
            </div>
            <div>
                <p>
                FBA库存：
                <input type="checkbox" value="FBA库存" checked="checked" disabled>FBA库存
                <input type="checkbox" value="FBA在途" checked="checked" disabled>FBA在途
                </p>
                <p>
                本地库存：
                <input type="checkbox" value="本地库存" checked="checked" disabled>本地库存
                <input type="checkbox" value="预计库存" checked="checked" disabled>预计库存
                </p>
                <div id="check_box">

                </div>
            </div>
            <div>
                <ul id="container" class="column_sort">
                </ul>
            </div>
            <div class="button_item2" id="button_control13">
                <button class="button2" onclick="change_column()" id="button7">确定</button>
            </div>
        </div>
	</div>
</div>
</body>
<script src="../JavaScript/jquery-3.0.0.min.js"></script>
<script src="../JavaScript/axios.min.js"></script>
<script>
    check_box2();

    var start = document.getElementById("data_time");
    var date = new Date();
    var month_t = date.getMonth().toString();
    if (date.getMonth() + 1 < 10)
        month_t = '0' + (date.getMonth() + 1);

    var day_t = date.getDate().toString();
    if (date.getDate() < 10)
        day_t = '0' + (date.getDate() + 1)

    var dateString = date.getFullYear() + "-" + (month_t) + "-" + day_t;
    start.value = dateString;

    function myFunction() {
    if(event.keyCode==13) {
    document.getElementById("input1").click();
    }
    }

    function get_list_male(){
    document.getElementById("button1").disabled = "ture";
    var button = document.getElementById('button1');
    button.style.backgroundColor = 'rgb(220, 220, 220)';
    $.ajax({
    url: "/parent_message/get_list_male",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "get",
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    document.getElementById("control_item1").innerHTML = '';
    create_table(msg['data'], "本地父体");
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("button1").disabled = false;
    }
    if (msg['msg'] == 'error'){
    var tab = document.getElementById("control_item1");
    tab.innerHTML = '';
    alert(msg['message']);
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("button1").disabled = false;
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("button1").disabled = false;
    }
    }
    })
    }

    function check_box(){
    $.ajax({
    url: "/parent_message/get_list_header",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "get",
    dataType: 'json',
    success: function(msg){
    var list_header = msg['list_header'];
    create_container(list_header);
    div = document.getElementById('windows2');
    div.style.display = "block";
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }

    function check_box2(){
    $.ajax({
    url: "/parent_message/get_list_header",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "get",
    dataType: 'json',
    success: function(msg){
    var list_header = msg['list_header'];
    var str_header = list_header.toString();
    var tab = document.getElementById("control_item3");
    console.log(str_header)
    tab.dataset.list_header = str_header;
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }

    function create_container(list_header){
    var str_7 = "<input type=\"checkbox\" value=\"7天销量\" onclick=\"checkboxOnclick(event)\">7天销量";
    if (list_header.includes('7天销量')){
    str_7 = "<input type=\"checkbox\" value=\"7天销量\" onclick=\"checkboxOnclick(event)\" checked=\"checked\">7天销量";
    }
    var str_14 = "<input type=\"checkbox\" value=\"14天销量\" onclick=\"checkboxOnclick(event)\">14天销量";
    if (list_header.includes('14天销量')){
    str_14 = "<input type=\"checkbox\" value=\"14天销量\" onclick=\"checkboxOnclick(event)\" checked=\"checked\">14天销量";
    }
    var str_30 = "<input type=\"checkbox\" value=\"30天销量\" onclick=\"checkboxOnclick(event)\">30天销量";
    if (list_header.includes('30天销量')){
    str_30 = "<input type=\"checkbox\" value=\"30天销量\" onclick=\"checkboxOnclick(event)\" checked=\"checked\">30天销量";
    }
    var check_column = document.createElement("p");
    var str_check ="销量："+str_7+str_14+str_30;
    check_column.innerHTML = str_check;
    document.getElementById('check_box').innerHTML = ''
    document.getElementById('check_box').appendChild(check_column);
    var str_container = "";
    for (var i = 0; i < list_header.length; i++){
    var str_column = "<li class=\"ele\" draggable=\"true\" id="+list_header[i]+">"+list_header[i]+"</li>";
    str_container = str_container + str_column;
    }
    document.getElementById('container').innerHTML = str_container;
    }

    function get_list_header(){
    var container = document.getElementById("container");
    var list_li = container.getElementsByTagName('li');
    var length = container.childElementCount;
    var list_header = [];
    for (var i = 0; i<length;i++){
    list_header.push(list_li[i].innerText);
    }
    if (list_header.length == 0){
    var tab = document.getElementById("control_item3");
    var str_header = tab.dataset.list_header;
    list_header = str_header.split(',')
    }
    //list_header = ["FBA库存", "FBA在途", "本地库存", "预计库存", "30天销量"]
    return list_header
    }

    function change_column(){
    var data = get_table();
    var list_header = get_list_header();
    var country = document.getElementById("list_country").value;
    var data = {"data": JSON.stringify({"data": data, "list_header": list_header, "country": country})};
    $.ajax({
    url: "/parent_message/change_column",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    var tab = document.getElementById("control_item3");
    tab.innerHTML = '';
    tab.innerHTML = msg['data_html'];
    close_windows()
    }
    if (msg['msg'] == 'error1'){
    close_windows()
    }
    if (msg['msg'] == 'error2'){
    alert(msg['message'])
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }

    function find_list_asin(){
    var asin = document.getElementById("asin_input").value;
    var background = document.getElementById("background_control");
	background.innerHTML = "正在查询"+ asin;
    document.getElementById("input2").disabled = "ture";
    var button = document.getElementById('input2');
    button.style.backgroundColor = 'rgb(220, 220, 220)';
    var country = document.getElementById("list_country").value;
    var data = get_table();
    var list_header = get_list_header();
    var data = {"data": JSON.stringify({"asin": asin, "country": country, "data": data, "list_header": list_header})};
    $.ajax({
    url: "/parent_message/find_list_asin",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    document.getElementById("control_item2").innerHTML = '';
    var tab = document.getElementById("control_item3");
    tab.innerHTML = '';
    tab.dataset.amazon_asin = asin;
    tab.innerHTML = msg['data_html'];
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("input2").disabled = false;
    document.getElementById("asin_input").value = "";
    background.innerHTML = "";
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("input2").disabled = false;
    background.innerHTML = "";
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("input2").disabled = false;
    background.innerHTML = "";
    }
    }
    })
    }

    function find_list_male(){
    var asin = document.getElementById("male_input").value;
    var background = document.getElementById("background_control");
	background.innerHTML = "正在查询"+ asin;
    document.getElementById("input1").disabled = "ture";
    var button = document.getElementById('input1');
    button.style.backgroundColor = 'rgb(220, 220, 220)';
    var data = {"data": JSON.stringify({"asin": asin})};
    $.ajax({
    url: "/parent_message/find_list_male",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    document.getElementById("control_item1").innerHTML = '';
    create_table(msg['data'], "本地父体");
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("input1").disabled = false;
    document.getElementById("male_input").value = "";
    background.innerHTML = "";
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("input1").disabled = false;
    background.innerHTML = "";
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    document.getElementById("input1").disabled = false;
    background.innerHTML = "";
    }
    }
    })
    }

    function create_table(list_data, heard_name1){
    var heard_tr = document.createElement("tr");
    heard_tr.className = "list_control_header";
    var heard_name1_str = create_control(['list_control', heard_name1]);
    heard_tr.innerHTML = heard_name1_str;
    if (heard_name1 == "本地父体"){
    document.getElementById("control_item1").appendChild(heard_tr);
    for (var i = 0; i < list_data[0].length; i++){
    var tr = document.createElement("tr");
    tr.className = "list_control_tr";
    var name = list_data[0][i];
    var name_str = drag_control(['list_control_collect', name, 2]);
    var str = name_str;
    tr.innerHTML = str;
    document.getElementById("control_item1").appendChild(tr);
    }
    for (var i = 0; i < list_data[1].length; i++){
    var tr = document.createElement("tr");
    tr.className = "list_control_tr";
    var name = list_data[1][i];
    var name_str = drag_control(['list_control3', name, 1]);
    var str = name_str;
    tr.innerHTML = str;
    document.getElementById("control_item1").appendChild(tr);
    }
    }
    if (heard_name1 == "亚马逊父体"){
    document.getElementById("control_item2").appendChild(heard_tr);
    for (var i = 0; i < list_data.length; i++){
    var tr = document.createElement("tr");
    tr.className = "list_control_tr";
    var name = list_data[i];
    var name_str = drag_control(['list_control5', name, 0]);
    var str = name_str;
    tr.innerHTML = str;
    document.getElementById("control_item2").appendChild(tr);
    }
    }
    }

    function create_control(msg_data){
    var msg = msg_data;
    var str = '';
    if (msg[2] == 1){
    str = "<td class="+ msg[0] +"><div class="+ msg[0]+"><span ondblclick=\"windows_msg(event)\" class="+ msg[3] +" oncontextmenu=\"menu_bar(event)\" onclick=\"close_menu()\">"+ msg[1] +"</span></div></td>";
    }
    else if(msg[2] == 2){
    str = "<td class="+ msg[0] +"><div class="+ msg[0]+"><span>"+ msg[1] +"</span><span class=\"table-sort\"><i class=\"sort-asc\" onclick=\"ascending_sort(event)\" sort_name="+ msg[1] +" sort_asin="+ msg[3] +"></i><i class=\"sort-desc\" onclick=\"descending_sort(event)\" sort_name="+ msg[1] +" sort_asin="+ msg[3] +"></i></span></div></td>";
    }
    else if(msg[2] == 3){
    str = "<td class="+ msg[0] +"><div class="+ msg[0]+"><span>"+ msg[1] +"</span><span class=\"table-sort\"><i class=\"sort-asc\" onclick=\"ascending_sort2(event)\" sort_name="+ msg[1] +"></i><i class=\"sort-desc\" onclick=\"descending_sort2(event)\" sort_name="+ msg[1] +"></i></span></div></td>";
    }
    else{
    str = "<td class="+ msg[0] +"><div class="+ msg[0]+"><span>"+ msg[1] +"</span></div></td>";
    }
    return str
    }

    function drag_control(msg_data){
    var msg = msg_data;
    var str = '';
    if (msg[2] == 1){
    str = "<td class="+ msg[0] +"><div class="+ msg[0] +" ondragend=\"drop(event)\" oncontextmenu=\"collect_menu(event)\" ondragover=\"allowDrop(event)\" draggable=\"true\" ondragstart=\"drag(event)\" id="+ msg[1] +" ondblclick=\"amazon_parent(event)\" onclick=\"close_menu()\">"+ msg[1] +"</div></td>";
    }
    else if (msg[2] == 2){
    str = "<td class="+ msg[0] +"><div class="+ msg[0] +" ondragend=\"drop(event)\" oncontextmenu=\"collect_menu(event)\" ondragover=\"allowDrop(event)\" draggable=\"true\" ondragstart=\"drag(event)\" id="+ msg[1] +" ondblclick=\"amazon_parent(event)\" onclick=\"close_menu()\">*"+ msg[1] +"</div></td>";
    }
    else{
    str = "<td class="+ msg[0] +"><div class="+ msg[0] +" ondragend=\"drop(event)\" ondragover=\"allowDrop(event)\" draggable=\"true\" ondragstart=\"drag(event)\" id="+ msg[1] +" ondblclick=\"amazon_parent(event)\">"+ msg[1] +"</div></td>";
    }
    return str
    }

    function menu_collect(event){
    close_menu();
    var male_parent = event.target.getAttribute("male_parent");
    var data = {"data": JSON.stringify({"male_parent": male_parent})};
    $.ajax({
    url: "/parent_message/menu_collect",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    document.getElementById("control_item1").innerHTML = '';
    create_table(msg['data'], "本地父体");
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }

    function menu_unbind(event){
    close_menu();
    var male_parent = event.target.getAttribute("male_parent");
    var data = {"data": JSON.stringify({"male_parent": male_parent})};
    $.ajax({
    url: "/parent_message/menu_unbind",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    document.getElementById("control_item1").innerHTML = '';
    create_table(msg['data'], "本地父体");
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }

    function collect_menu(event){
    event.preventDefault();
    if (event.which == 3){
    var male_parent = String(event.target.innerHTML);
    console.log(male_parent)
    show_collect(male_parent);
    }
    else{
    close_menu();
    }
    }

    function show_collect(male_parent){
    close_menu();
    var menu_str = '';
    if(male_parent.includes("*")){
    menu_str = "<div id=\"rk_menubox\" class=\"rk_menubox\">"+
               "<div class=\"rk_menuitem\"><span class=\"menu_button\" onclick=\"menu_unbind(event)\" male_parent='"+ male_parent +"'>取消收藏</span></div></div>";
    }
    else{
    menu_str = "<div id=\"rk_menubox\" class=\"rk_menubox\">"+
               "<div class=\"rk_menuitem\"><span class=\"menu_button\" onclick=\"menu_collect(event)\" male_parent='"+ male_parent +"'>收藏</span></div></div>";
    }
    if($('#rk_menubox')[0]==null){
      $('body').append(menu_str);
    }
    var evt=window.event || arguments[0];

    // 获取鼠标右键按下后的位置,据此定义菜单显示的位置
    var rightedge=$('#rk_menubox').width()+evt.pageX;

    // 判断弹出的菜单是否有溢出浏览器窗口的宽度
    if(rightedge>$(window).width()){
      var _left=evt.clientX-$('#rk_menubox').width();
      $('#rk_menubox').css({top:evt.clientY+'px',left:_left+'px'});
    }else{
      $('#rk_menubox').css({top:evt.clientY+'px',left:evt.pageX+'px'});
    }
    }

    function allowDrop(ev){
    ev.preventDefault();
    }

    function drag(ev){
    ev.dataTransfer.setData("text", ev.target.innerHTML);
    }

    function drop(ev){
    ev.preventDefault();
    var data = ev.target.innerHTML;
    console.log(data)
    find_asin_parent(data)
    }

    function amazon_parent(event){
    var male_parent = event.target.innerHTML;
    var data = {"data": JSON.stringify({"male_parent": male_parent})};
    $.ajax({
    url: "/parent_message/get_amazon_parent",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    document.getElementById("control_item2").innerHTML = '';
    create_table(msg['data'], "亚马逊父体");
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }

    function find_asin_parent(asin){
    var background = document.getElementById("background_control");
	background.innerHTML = "正在获取"+ asin +"的相关信息";
	var country = document.getElementById("list_country").value;
	var data = get_table();
    var list_header = get_list_header();
    var data = {"data": JSON.stringify({"asin": asin, "country": country, "data": data, "list_header": list_header})};
    $.ajax({
    url: "/parent_message/find_asin_parent",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    var tab = document.getElementById("control_item3");
    tab.innerHTML = '';
    background.innerHTML = "";
    if (msg['male'] == "亚马逊父体"){
    tab.dataset.amazon_asin = asin;
    }
    if (msg['male'] == "本地父体"){
    tab.dataset.parent_asin = asin;
    }
    tab.innerHTML = msg['data_html']
    }
    if (msg['msg'] == 'error'){
    background.innerHTML = "";
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    background.innerHTML = "";
    alert('请求超时，请重试！');
    }
    }
    })
    }

    function update_male(){
    document.getElementById("button5").disabled = "ture";
    var button = document.getElementById('button5');
    button.style.backgroundColor = 'rgb(220, 220, 220)';
    $.ajax({
    url: "/parent_message/update_male",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "get",
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    document.getElementById("button5").disabled = false;
    alert(msg['message']);
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    document.getElementById("button5").disabled = false;
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    document.getElementById("button5").disabled = false;
    button.style.backgroundColor = 'rgb(252, 252, 252)';
    }
    }
    })
    }

    function contrast_parent(){
    if (confirm("是否对比父体")){
    document.getElementById("button4").disabled = "ture";
    var background = document.getElementById("background_control");
	background.innerHTML = "正在对比父体";
	var data = get_table();
    var list_header = get_list_header();
    var data = {"data": JSON.stringify({"data": data, "list_header": list_header})};
    $.ajax({
    url: "/parent_message/contrast_parent",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    var tab = document.getElementById("control_item3");
    tab.innerHTML = '';
    background.innerHTML = "";
    document.getElementById("button4").disabled = false;
    tab.innerHTML = msg['data_html'];
    }
    if (msg['msg'] == 'error'){
    background.innerHTML = "";
    document.getElementById("button4").disabled = false;
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    background.innerHTML = "";
    document.getElementById("button4").disabled = false;
    alert('请求超时，请重试！');
    }
    }
    })
    }
    }

    function get_table(){
    var tabObj = document.getElementById('table_control3');
    var tab = document.getElementById("control_item3");
    var amazon_asin = tab.dataset.amazon_asin;
    var parent_asin = tab.dataset.parent_asin;
    var data = [];
    for(var i=0,rows=tabObj.rows.length; i<rows; i++){
    for(var j=0,cells=tabObj.rows[i].cells.length; j<cells; j++){
    if(!data[i]){
    data[i] = new Array();
    }
    data[i][j] = tabObj.rows[i].cells[j].getElementsByTagName('span')[0].innerHTML;
    }
    }
    return {"list": data, "amazon_asin": amazon_asin, "parent_asin": parent_asin};
    }

    function get_table2(){
    var tabObj1 = document.getElementById('table_control3');
    var data1 = [];
    for(var i=0,rows=tabObj1.rows.length; i<rows; i++){
    for(var j=0,cells=tabObj1.rows[i].cells.length; j<cells; j++){
    if(!data1[i]){
    data1[i] = new Array();
    }
    data1[i][j] = tabObj1.rows[i].cells[j].getElementsByTagName('span')[0].innerHTML;
    }
    }
    var tabObj2 = document.getElementById('table_control4');
    var data2 = [];
    for(var i=0,rows=tabObj2.rows.length; i<rows; i++){
    for(var j=0,cells=tabObj2.rows[i].cells.length; j<cells; j++){
    if(!data2[i]){
    data2[i] = new Array();
    }
    data2[i][j] = tabObj2.rows[i].cells[j].getElementsByTagName('span')[0].innerHTML;
    }
    }
    return [data1, data2];
    }

    function get_table3(){
    var tabObj = document.getElementById('table_control5');
    var data = [];
    for(var i=0,rows=tabObj.rows.length; i<rows; i++){
    for(var j=0,cells=tabObj.rows[i].cells.length; j<cells; j++){
    if(!data[i]){
    data[i] = new Array();
    }
    data[i][j] = tabObj.rows[i].cells[j].getElementsByTagName('span')[0].innerHTML;
    }
    }
    return data;
    }

    function windows_msg(ev){
    var sku = ev.target.innerHTML;
    var asin = ev.target.className;
    var country = document.getElementById("list_country").value;
    var data = {"data": JSON.stringify({"sku": sku, 'asin': asin, 'country': country})};
    $.ajax({
    url: "/parent_message/windows_msg",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    var div = document.getElementById('windows1');
    div.style.display = "block";
    document.getElementById('sku_msg').innerHTML = "";
    document.getElementById('control_item5').innerHTML = "";
    document.getElementById('sku_msg').innerHTML = sku + "详情";
    create_table3(msg['data']);
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }

    function close_windows() {
    var div = document.getElementById('windows1');
	div.style.display = "none";
	var div2 = document.getElementById('windows2');
	div2.style.display = "none";
    }
    window.onclick = function close(e) {
	if (e.target == div1) {
	var div1 = document.getElementById('windows1');
	div1.style.display = "none";
	}
	if (e.target == div2) {
	var div2 = document.getElementById('windows2');
	div2.style.display = "none";
	}
    }

    function create_table3(list_data){
    var heard_tr = document.createElement("tr");
    heard_tr.className = "list_control_tr";
    var heard_name9_str = create_control(['list_control4', '序号', 0]);
    var heard_name1_str = create_control(['list_control2', 'SKU', 0]);
    var heard_name2_str = create_control(['list_control2', 'FNSKU', 0]);
    var heard_name10_str = create_control(['list_control2', 'ASIN', 0]);
    var heard_name11_str = create_control(['list_control2', '父ASIN', 0]);
    var heard_name3_str = create_control(['list_control1', 'FBA库存', 3]);
    var heard_name4_str = create_control(['list_control1', 'FBA在途', 3]);
    var heard_name5_str = create_control(['list_control1', '30天销量', 3]);
    var heard_name6_str = create_control(['list_control1', '本地库存', 3]);
    var heard_name7_str = create_control(['list_control1', '预计库存',3]);
    var heard_name8_str = create_control(['list_control2', '店铺', 0]);
    var heard_name12_str = create_control(['list_control2', '创建时间', 0]);
    heard_tr.innerHTML = heard_name9_str + heard_name1_str + heard_name2_str + heard_name10_str + heard_name11_str + heard_name3_str + heard_name4_str + heard_name5_str + heard_name6_str + heard_name7_str + heard_name8_str + heard_name12_str;
    document.getElementById("control_item5").appendChild(heard_tr);
    for (var i = 0; i < list_data.length; i++){
    var tr = document.createElement("tr");
    tr.className = "list_control_tr";
    var serial = i+1;
    var serial_str = create_control(['list_control4', serial, 0, 0]);
    var sku = list_data[i][0];
    var sku_str = create_control(['list_control2', sku, 0, 0]);
    var fnsku = list_data[i][1];
    var fnsku_str = create_control(['list_control2', fnsku, 0, 0]);
    var asin = list_data[i][2];
    var asin_str = create_control(['list_control2', asin, 0, 0]);
    var parent_asin = list_data[i][3];
    var parent_asin_str = create_control(['list_control2', parent_asin, 0, 0]);
    var num = list_data[i][4];
    var num_str = create_control(['list_control1', num, 0, 0]);
    var predict_fba = list_data[i][5];
    var predict_fba_str = create_control(['list_control1', predict_fba, 0, 0]);
    var sale_num = list_data[i][6];
    var sale_num_str = create_control(['list_control1', sale_num, 0, 0]);
    var order = list_data[i][7];
    var order_str = create_control(['list_control1', order, 0, 0]);
    var predict_num = list_data[i][8];
    var predict_num_str = create_control(['list_control1', predict_num, 0, 0]);
    var country = list_data[i][9];
    var country_str = create_control(['list_control2', country, 0, 0]);
    var create_time = list_data[i][10];
    var create_time_str = create_control(['list_control2', create_time, 0, 0]);
    var str = serial_str + sku_str + fnsku_str + asin_str + parent_asin_str + num_str + predict_fba_str + sale_num_str + order_str + predict_num_str + country_str + create_time_str;
    tr.innerHTML = str;
    document.getElementById("control_item5").appendChild(tr);
    }
    }

    function ascending_sort(event){
    var index = event.target.getAttribute("sort_name");
    var asin_index = event.target.getAttribute("sort_asin");
	var data = get_table();
	var list_header = get_list_header();
    var data = {"data": JSON.stringify({"data": data, "list_header": list_header, "index": index, "sort_asin": asin_index})};
    $.ajax({
    url: "/parent_message/ascending_sort",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    var tab = document.getElementById("control_item3");
    tab.innerHTML = '';
    tab.innerHTML = msg['data_html'];
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }
    function descending_sort(event){
    var index = event.target.getAttribute("sort_name");
    var asin_index = event.target.getAttribute("sort_asin");
	var data = get_table();
	var list_header = get_list_header();
    var data = {"data": JSON.stringify({"data": data, "list_header": list_header, "index": index, "sort_asin": asin_index})};
    $.ajax({
    url: "/parent_message/descending_sort",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    var tab = document.getElementById("control_item3");
    tab.innerHTML = '';
    tab.innerHTML = msg['data_html'];
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }

    function ascending_sort2(event){
    var index = event.target.getAttribute("sort_name");
	var list_data = get_table3();
    var data = {"data": JSON.stringify({"list_msg": list_data, "index": index})};
    $.ajax({
    url: "/parent_message/ascending_sort2",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    var tab = document.getElementById("control_item5");
    tab.innerHTML = '';
    create_table3(msg['data']);
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }

    function descending_sort2(event){
    var index = event.target.getAttribute("sort_name");
	var list_data = get_table3();
    var data = {"data": JSON.stringify({"list_msg": list_data, "index": index})};
    $.ajax({
    url: "/parent_message/descending_sort2",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    var tab = document.getElementById("control_item5");
    tab.innerHTML = '';
    create_table3(msg['data']);
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }

    function download_parent(){
    var asin = document.getElementById("parent_asin").value;
    console.log(asin)
    var data_time = document.getElementById("data_time").value;
    var data = {"data": JSON.stringify({"asin": asin, "data_time": data_time})};
    $.ajax({
    url: "/parent_message/download_parent",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    var download_name = asin + "详情";
    download_excl(msg['filename'], msg['file'], download_name)
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }

    function download_excl(filename, file, download_name){
    document.getElementById("button_control8").innerHTML = "";
    var pa_name = filename + ".xlsx";
    var str = "<a href="+ file +" download="+ pa_name +">"+ download_name +"</a>";
    document.getElementById("button_control8").innerHTML = str;
    }

    function menu_bar(event){
    event.preventDefault();
    if (event.which == 3){
    var sku = String(event.target.innerHTML);
    var asin = event.target.className;
    show_menu(sku, asin);
    }
    else{
    close_menu();
    }
    }

    function show_menu(sku, asin){
    close_menu();
    var menu_str = '';
    if(asin.includes("B0")){
    menu_str = "<div id=\"rk_menubox\" class=\"rk_menubox\">"+
               "<div class=\"rk_menuitem\"><span class=\"menu_button\" onclick=\"relevance_sku(event)\" data_sku='"+ sku +"'>关联</span></div></div>";
    }
    else{
    menu_str = "<div id=\"rk_menubox\" class=\"rk_menubox\">"+
               "<div class=\"rk_menuitem\"><span class=\"menu_button\" onclick=\"relieve_sku(event)\" data_sku='"+ sku +"'>解除关联</span></div></div>";
    }
    if($('#rk_menubox')[0]==null){
      $('body').append(menu_str);
    }

    var evt=window.event || arguments[0];

    // 获取鼠标右键按下后的位置,据此定义菜单显示的位置
    var rightedge=$('#rk_menubox').width()+evt.pageX;

    // 判断弹出的菜单是否有溢出浏览器窗口的宽度
    if(rightedge>$(window).width()){
      var _left=evt.clientX-$('#rk_menubox').width();
      $('#rk_menubox').css({top:evt.clientY+'px',left:_left+'px'});
    }else{
      $('#rk_menubox').css({top:evt.clientY+'px',left:evt.pageX+'px'});
    }
    }

    document.οncοntextmenu=function(event){
    if($(event.target).attr('class')=='rk_menubox'){
      return false;
    }
    }


    function relieve_sku(event){
    close_menu();
    var table = document.getElementById('control_item3');
    var parent_asin = table.dataset.parent_asin;
    var sku = event.target.getAttribute("data_sku");
    var data = {"data": JSON.stringify({"parent_asin": parent_asin, "sku": sku})};
    $.ajax({
    url: "/parent_message/menu_relieve_sku",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    alert(msg['message']);
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }

    function relevance_sku(event){
    close_menu();
    var table = document.getElementById('control_item3');
    var parent_asin = table.dataset.parent_asin;
    var sku = event.target.getAttribute("data_sku");
    var data = {"data": JSON.stringify({"parent_asin": parent_asin, "sku": sku})};
    $.ajax({
    url: "/parent_message/menu_relevance_sku",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "post",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    alert(msg['message']);
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    if (textStatus === 'timeout') {
    alert('请求超时，请重试！');
    }
    }
    })
    }

    function close_menu(){
    if($('#rk_menubox')[0]!=null){
      $('#rk_menubox').remove();
    }
    }

    function derive_table(event){
    var list_msg = get_table();
    var list_header = get_list_header();
    var table_name = event.target.dataset.name
    var data = {"data": JSON.stringify({"list_msg": list_msg, "table_name": table_name, "list_header": list_header})};
    $.ajax({
    url: "/male_parent/derive_table",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "POST",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    download_excl(msg['data']['filename'], msg['data']['file'], msg['data']['download_name']);
    alert('导出成功');
    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
        if (textStatus === 'timeout') {
            alert('请求超时，请重试！');
            document.getElementById("button2").disabled = false;
        }
        }
    })
    }

    function get_msg(){
    var local_sku = document.getElementById("local_sku").value;
    var data = get_table();
    var shop = document.getElementById("list_country").value;
    var list_header = get_list_header();
    var data = {"data": JSON.stringify({"data": data, "local_sku": local_sku, "shop": shop, "list_header": list_header})};
    $.ajax({
    url: "/parent_message/find_parent_sku",
    headers:{Accept: "application/json; charset=utf-8"},
    type: "POST",
    data: data,
    dataType: 'json',
    success: function(msg){
    if (msg['msg'] == 'success'){
    var tab = document.getElementById("control_item3");
    tab.innerHTML = '';
    tab.innerHTML = msg['data_html'];

    }
    if (msg['msg'] == 'error'){
    alert(msg['message']);
    }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
        if (textStatus === 'timeout') {
            alert('请求超时，请重试！');
            document.getElementById("button2").disabled = false;
        }
        }
    })
    }

    var node = document.querySelector("#container")
	var draging = null
	node.ondragstart = function(event) {
		// dataTransfer.setData把拖动对象的数据存入其中，可以用dataTransfer.getData来获取数据
		event.dataTransfer.setData("te", event.target.innerText)
		draging = event.target
	}
	node.ondragover = function(event) {
		// 默认地，无法将数据/元素放置到其他元素中。如果需要设置允许放置，必须阻止对元素的默认处理方式
		event.preventDefault()
		var target = event.target
		if (target.nodeName === "LI" && target !== draging) {
			// 获取初始位置
			var targetRect = target.getBoundingClientRect()
			var dragingRect = draging.getBoundingClientRect()
			if (target) {
				// 判断是否动画元素
				if (target.animated) {
					return;
				}
			}
			if (_index(draging) < _index(target)) {
				// 目标比元素大，插到其后面
				// extSibling下一个兄弟元素
				target.parentNode.insertBefore(draging, target.nextSibling)
			} else {
				// 目标比元素小，插到其前面
				target.parentNode.insertBefore(draging, target)
			}
			_animate(dragingRect, draging)
			_animate(targetRect, target)
		}
	}
	// 获取元素在父元素中的index
	function _index(el) {
		var index = 0
		if (!el || !el.parentNode) {
			return -1
		}
		// previousElementSibling：上一个兄弟元素
		while (el && (el = el.previousElementSibling)) {
			index++
		}
		return index
	}
	// 触发动画
	function _animate(prevRect, target) {
		var ms = 300
		if (ms) {
			var currentRect = target.getBoundingClientRect()
			if (prevRect.nodeType === 1) {
				prevRect = prevRect.getBoundingClientRect()
			}

			target.offsetWidth; // 触发重绘

			// 事件到了之后把transition和transform清空
			clearTimeout(target.animated);
		}
	}
	// 给元素添加style
	function _css(el, prop, val) {
    var style = el && el.style
    if (style) {
    if (val === void 0) {
        if (document.defaultView && document.defaultView.getComputedStyle) {
            val = document.defaultView.getComputedStyle(el, '')
        } else if (el.currentStyle) {
            val = el.currentStyle
        }
        return prop === void 0 ? val : val[prop]
    } else {
        if (!(prop in style)) {
            prop = '-webkit-' + prop;
        }
        style[prop] = val + (typeof val === 'string' ? '' : 'px')
    }
    }
	}

    function checkboxOnclick(event) {
    if (event.target.checked == true) {
        var column_name = event.target.value;
        var str_column = create_column(column_name);
        var container = document.getElementById("container").innerHTML;
        document.getElementById("container").innerHTML = container+str_column;
    } else {
        var column_name = event.target.value;
        var div_column = document.getElementById(column_name);
        div_column.remove();
    }
    }

    function create_column(column_name){
    var str = "<li class=\"ele\" draggable=\"true\" id="+ column_name +">"+ column_name +"</li>"
    return str
    }
</script>
</html>