<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板下载</title>
</head>
<style>
.download_item2{
    width:150px;
    height:30px;
    font-size: 18px;
}
.null_string{
    height:20px;
}
.download_list{
margin:100px 0px 0px 100px;
}
</style>
<body>
<div class="download_list">
    <div class="download_item" id="download_control1">
        <a href="../MSKU生成/MSKU批量生成模板.xlsx" download="MSKU批量生成模板.xlsx">下载MSKU批量生成模板</a>
    </div>
    <div class="null_string"></div>
    <div class="download_item" id="download_control10">
        <a href="../MSKU生成/MSKU批量获取模板.xlsx" download="MSKU批量获取模板.xlsx">下载MSKU批量获取模板</a>
    </div>
    <div class="null_string"></div>
    <div class="download_item" id="download_control2">
        <a href="../本地父体/批量关联本地父体模板.xlsx" download="批量关联本地父体模板.xlsx">下载批量关联本地父体模板</a>
    </div>
    <div class="null_string"></div>
    <div class="download_item" id="download_control3">
        <a href="../本地父体/批量添加本地父体模板.xlsx" download="批量添加本地父体模板.xlsx">下载批量添加本地父体模板</a>
    </div>
    <div class="null_string"></div>
    <div class="download_item" id="download_control11">
        <a href="../本地父体/批量关联本地父体模板.xlsx" download="批量添加并关联本地父体模板.xlsx">下载批量添加并关联本地父体模板</a>
    </div>
    <div class="null_string"></div>
    <div class="download_item" id="download_control4">
        <a href="../本地父体/批量解除本地父体关联模板.xlsx" download="批量解除本地父体关联模板.xlsx">下载批量解除本地父体关联模板</a>
    </div>
    <div class="null_string"></div>
    <div class="download_item" id="download_control5">
        <a href="../本地品名/批量关联本地品名模板.xlsx" download="批量关联本地品名模板.xlsx">下载批量关联本地品名模板</a>
    </div>
    <div class="null_string"></div>
    <div class="download_item" id="download_control6">
        <a href="../本地品名/批量添加本地品名模板.xlsx" download="批量添加本地品名模板.xlsx">下载批量添加本地品名模板</a>
    </div>
    <div class="null_string"></div>
    <div class="download_item" id="download_control12">
        <a href="../本地品名/批量关联本地品名模板.xlsx" download="批量添加并关联本地品名模板.xlsx">下载批量添加并关联本地品名模板</a>
    </div>
    <div class="null_string"></div>
    <div class="download_item" id="download_control7">
        <a href="../本地品名/批量解除本地品名关联模板.xlsx" download="批量解除本地品名关联模板.xlsx">下载批量解除本地品名关联模板</a>
    </div>
    <div class="null_string"></div>
    <div class="download_item" id="download_control8">
        <a href="../换标调整/批量获取FNSKU换标模板.xlsx" download="批量获取FNSKU换标模板.xlsx">下载批量获取FNSKU换标模板</a>
    </div>
    <div class="null_string"></div>
    <div class="download_item" id="download_control9">
        <a href="../批量配对/批量配对模板.xlsx" download="批量配对模板.xlsx">下载批量配对模板</a>
    </div>
</div>
</body>
</html>